*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h1{
    position: absolute;
    top: 12%; 
    left: 18%;
    font-size: 50px;
    word-spacing: 0.5rem;
    letter-spacing: 6px; 
    color: #EEEEEE; 
    text-shadow:0 0 25px #ffa500 ;

}
h2{
    position: absolute;
    top: 35%;
    left: 5%;
    color: #EEEEEE;
    letter-spacing: 2px;
}
h3{
    position: absolute;
    top: 65%;
    left: 25%;
    letter-spacing: 2px;
    color: #EEEEEE;
   
}
.sub-container{
    
    background-color:#134B70 ;
    height: 55%;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 1rem;
}
.sub-container:hover{
    background-color:#134B70

}

button{
    position: absolute;
    top:80%; 
    left: 43%;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    background-color: #EEEEEE;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    box-shadow: 0 0 5px cyan,  
    0 0 25px cyan;
    

}
button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
div>img{
    height: 100vh;
    width: 100%;
    z-index: -2;
    filter: blur(7px);
}
